*.rda
BootstrapPlots
*.csv
*.txt
*.log
doc
Meta
vignettes/.build.timestamp
vignettes/EWCE_cache/*
vignettes/EWCE_files/*
EWCE.Rproj
/doc/
/Meta/

*.Rproj
.Rproj.user
.Rhistory
./**/.Rhistory
.RData
.Ruserdata

vignettes/*.R$
vignettes/*.html$

# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
./.DS_Store
./**/.DS_Store
./**/**/.DS_Store
./**/**/**/.DS_Store
./**/**/**/**/.DS_Store
./**/**/**/**/**/.DS_Store
./**/**/**/**/**/**/.DS_Store

